<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://gateway01.us-west-2.prod.aws.tidbcloud.com:4000/employeedb</property>
        <property name="hibernate.connection.username">SMumwStnVSYG4og.root</property>
        <property name="hibernate.connection.password">XRleerH8xUAeWatb</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.example.model.UserClass"/>
        <mapping class="org.example.model.User2Class"/>
        <mapping class="org.example.model.AddressClass"/>

    </session-factory>
</hibernate-configuration>